<%#= form_with scope: :users_activities, local: true, url: add_log_to_user_activity_path, class: "w-100 userActivities__LogForm" do |f| %>
<%= form_for activity, url: {action: "add_activity"} do |f| %>
<% if activity.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

    <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <h3 class="text-center">Select an activity to log on your recent(s) performance(s):</h3>
  <%= f.collection_select :activity_id, Activity.order(:name),:id,:name, {}, {class: "custom-select my-3"} %>
  <hr>
  <%= f.hidden_field :user_id, :value => user %>
  <div class="form-group">
    <h3><%= f.label :how_long_did_you_performed_this_activity_? %></h3>
    <%= f.number_field :howlong, class: "form-control", placeholder: "12" %> minutes
  </div>
  <hr>
  <div class="form-group">
    <h3><%= f.label :performances %></h3>
    <%= f.text_area :performances, class: "form-control", placeholder: "a small comment on my perfs and impressions for this activity log." %>
  </div>
  <hr>
  <div class="form-group">
    <h3><%= f.label :when_was_it_? %></h3>
    <%= f.date_field :when, class: "form-control", placeholder: "a small comment on my perfs and impressions for this activity log." %>
  </div>
  <hr>
  <%= f.submit "Add log", class: "btn btn-primary", data: { disable_with: false } %>
<% end %>
