<%= form_with scope: :users_activities, local: true, url: add_log_to_user_activity_path, class: "w-100 userActivities__LogForm" do |f| %>
  <button type="button" class="close" aria-label="Close" data-action="$(this).closest('.card').removeClass('beforeoverall on')" data-remove="0">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= f.hidden_field :activity_id, :value => activity %>
  <%= f.hidden_field :user_id, :value => user %>
  <div class="form-group">
    <h4><%= f.label :hownlong %></h4>
    <%= f.number_field :hownlong, class: "form-control", placeholder: "12" %> minutes
  </div>
  <hr>
  <div class="form-group">
    <h4><%= f.label :performances %></h4>
    <%= f.text_area :performances, class: "form-control", placeholder: "a small comment on my perfs and impressions for this activity log." %>
  </div>
  <hr>
  <%= f.submit "Add log", class: "btn btn-primary", data: { disable_with: false } %>
<% end %>
