<p id="notice"><%= notice %></p>
<h1 class="text-center">Activities</h1>
<hr/>
<% if !current_user.activities.empty? %>
  <h4>You have <span class="text-warning font-weight-bold"><%= current_user.activities.size %></span> activities:</h4>
<% end %>
<div class="row">
  <% if current_user.activities.size == 0 %>
    <div class="col-12 text-center">You don't have any activity registered yet !</div>
    <div class="col-12 text-center">Add some just y filling the form below !</div>
  <% else forformselect = []; current_user.activities.each do |activity| %>
    <div class="card col-md mx-2" style="width: 18rem;">
      <img class="card-img-top" src="" alt="MoveAndGroove activity: <% activity.name %>">
      <div class="card-body">
        <u><h3 class="card-title text-center mb-4 "><%= activity.name.capitalize %></h3></u>
        <div class="d-flex justify-content-between">
          <%= link_to "Show", activity, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_activity_path(activity), class: "btn btn-info" if !current_user.email.index("admin").nil? %>
          <%#= link_to 'Unsuscribe', unsubscribe_path, method: :post, id: activity, data: {confirm: 'Are you sure?' } %>
          <%= link_to "Unsuscribe", {controller: "activities", action: "unsubscribe", id: activity}, class: "btn btn-warning", data: {confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% forformselect << [activity.name, activity.id]; end end %>
</div>
<br>
<hr>
<h4>You can add more activities to your list:</h4>
<form action="<%= add_activity_path %>" method="post">
  <h3 class="text-center">Add an activity to your account:</h3>
    <%= select_tag(:activity_id, options_for_select(Activity.all.collect{|p| [ p.name.capitalize, p.id ] }.excluding(forformselect)), class: "custom-select my-3") %>
  <div class="text-center"><input type="submit" class="text-center btn btn-primary"/></div>
</form>
