<p id="notice"><%= notice %></p>

<h1 class="text-center">Activities</h1>
<hr/>
<div class="row">
  <% @activities.each do |activity| %>
  <div class="card col-md mx-2" style="width: 18rem;">
    <img class="card-img-top" src="" alt="MoveAndGroove activity: <% activity.name %>">
    <div class="card-body">
      <u><h3 class="card-title text-center mb-4 "><%= activity.name %></h3></u>
      <div class="d-flex justify-content-between">
        <%= link_to "Show", activity %>
        <%= link_to 'Edit', edit_activity_path(activity) %>
        <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br>
<hr>
<div class="text-center"><%= link_to 'Create New Activity', new_activity_path, class: "text-center btn btn-primary" %></div>
