<p id="notice"><%= notice %></p>
<%= current_user.inspect %>
<h1 class="text-center">Activities</h1>
<p>For now, there is <span class="badge badge-info"><%= @activities.length %></span> activities:</p>
<div class="text-center">
  <a class="btn btn-primary" href="activities/new">
    <span class="material-icons">
      library_add
    </span>
    Add new Activity ?
  </a>
</div>
<hr/>
<div class="row">
  <% if current_user.activities.size == 0 %>
    <div class="col-12 text-center">You don't have any activity registered yet !</div>
    <div class="col-12 text-center">Add some just y filling the form below !</div>
  <% else forformselect = []; @activities.each do |activity| %>
    <% if forformselect.length%3 == 0 && forformselect.length != 0 %>
      </div>
      <div class="row">
    <% end %>
    <div class="card col-md m-2" style="width: 18rem;">
      <img class="card-img-top" src="" alt="MoveAndGroove activity: <% activity.name %>">
      <div class="card-body">
        <u><h3 class="card-title text-center mb-4 "><%= activity.name %></h3></u>
        <div class="d-flex justify-content-between">
          <%= link_to "Show", activity %>
          <%= link_to 'Edit', edit_activity_path(activity) %>
          <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% forformselect << [activity.name, activity.id]; end end %>
</div>
<br>
<hr>
<div class="text-center">
  <a class="btn btn-primary" href="activities/new">
    <span class="material-icons">
      library_add
    </span>
    Add new Activity
  </a>
</div>
